@font-face
{
    font-family: New Computer Modern Roman;
    src:url(/assets//NewCM10-Regular.otf);
}

*
{
    margin:0;
    font-family: New Computer Modern Roman;
}

body
{
    color:#011c3a;
    background-color:#ebd8ba;
}

body.transition
{
    transition:background-color 1s,color 1s;
}

body.dark
{
    color:#ebd8ba;
    background-color:#011c3a;
}

#root
{
    width: 50vw;
    margin:auto;
    margin-top
    hyphens:auto;
}

#sidebar
{
    position: fixed;
    top:0;
    height: 100vh;
    opacity: 0;
    transition:opacity 1s;
}

#sidebar:hover
{
    opacity: 1;
}

#home
{
    width:50px;
    height:50px;
    margin:20px;
    background-color:red;
    border-radius:10px;
}

#dark
{
    width:50px;
    height:50px;
    margin:20px;
    background-color:blue;
    border-radius:10px;
}
